<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>

<p><%= @restaurant.phone_number %></p>

<p><%= @restaurant.category %></p>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %>
      <%= link_to "Delete",
        review_path(review),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </li>
  <% end %>
</ul>
<br>

<br><p><%= link_to('Leave review', new_restaurant_review_path(@restaurant)) %></p>

<br><p><%= link_to('Back to list', restaurants_path) %></p>
